<div id="left-panel" class="menu-panel">
<div id="left-panel-inner">
<div id="scroll-area">
<div id="nav-menu" class="menu-buddy_panel-container"><ul id="menu-buddy_panel" class="menu"><li id="menu-item-26882" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-26882"><a href="{% url 'home' %}"><i class="fa fa-heart"></i>Home</a></li>
<li id="menu-item-33886" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-33886"><a><i class="fas fa-pencil-alt"></i>Scrivi</a>
<div class='sub-menu-wrap'><ul class="sub-menu">
<li id="menu-item-32689" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32689"><a href="#"><i class="fa fa-plus"></i>Nuovo LibriCK</a></li>
<li id="menu-item-32688" class="bp-menu bp-blog-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-32688"><a href="#">I miei LibriCK</a></li>
</ul></div>
</li>
<li id="menu-item-107410" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-107410"><a><i class="fas fa-book"></i>Leggi</a>
<div class='sub-menu-wrap'><ul class="sub-menu">
<li id="menu-item-163891" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163891"><a href="#"><i class="fa-play"></i>Serie</a></li>
<li id="menu-item-108896" class="bp-menu bp-following-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-108896"><a href="#">Autori che seguo</a></li>
<li id="menu-item-51492" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51492"><a href="#"><i class="far fa-bookmark"></i>LibriCK Preferiti</a></li>
<li id="menu-item-15481" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15481"><a href="#"><i class="fab fa-slack"></i>Blog</a></li>
</ul></div>
</li>
<li id="menu-item-195659" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-195659"><a href="#"><i class="fas fa-flask"></i>LAB</a></li>
<li id="menu-item-27750" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-27750"><a><i class="fas fa-bomb"></i>Servizi Gratuiti</a>
<div class='sub-menu-wrap'><ul class="sub-menu">
<li id="menu-item-52040" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52040"><a href="#"><i class="fab fa-amazon"></i>Promuovi un libro</a></li>
<li id="menu-item-27751" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27751"><a href="#"><i class="fab fa-paypal"></i>Ricevi pagamenti</a></li>
<li id="menu-item-280486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-280486"><a href="#"><i class="fas fa-bullhorn"></i>Promuovi la tua Serie</a></li>
<li id="menu-item-134544" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134544"><a href="#"><i class="fas fa-edit"></i>Revisione LibriCK</a></li>
</ul></div>
</li>
<li id="menu-item-269354" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-269354"><a><i class="fas fa-money-bill-alt"></i>Sconti</a>
<div class='sub-menu-wrap'><ul class="sub-menu">
<li id="menu-item-220017" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-220017"><a href="#"><i class="fas fa-book-open"></i>StreetLib</a></li>
<li id="menu-item-227249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-227249"><a href="#"><i class="fas fa-video"></i>Booktrailer</a></li>
</ul></div>
</li>
</ul></div>