{% extends 'profile.html' %}
{% block body %}
<div class="full-width">
<div id="item-main-content">
<div id="item-nav">
<div class="item-list-tabs no-ajax" id="object-nav" role="navigation">
<ul id="nav-bar-filter">
 <li id="blog-personal-li"><a id="user-blog" href="{% url 'profile' request.user.username %}">LibriCK <span class=“count”>{{posts}}</span></a></li>
 <li id="activity-personal-li"><a id="user-activity" href="#">Attività</a></li>
 <li id="notifications-personal-li"><a id="user-notifications" href="#">Notifiche <span class="no-count">0</span></a></li>
 <li id="messages-personal-li"><a id="user-messages" href="#">Messaggi <span class="no-count">{{messages}}</span></a></li>
 <li id="xprofile-personal-li" class="current selected"><a id="user-xprofile" href="{% url 'view' request.user.username %}">Profilo</a></li>
 <li id="settings-personal-li"><a id="user-settings" href="{% url 'setgeneral' %}">Impostazioni</a></li>
 <li id="members-following-personal-li"><a id="user-members-following" href="#">Following <span>{{following}}</span></a></li>
 <li id="members-followers-personal-li"><a id="user-members-followers" href="#">Followers <span>{{followers}}</span></a></li>
 <li id="mycred-history-personal-li"><a id="user-mycred-history" href="#">Punti</a></li>
</ul>
</div>
</div>
<div id="item-body" role="main" class="clearfix">
<div class="item-list-tabs no-ajax" id="subnav" aria-label="Member secondary navigation" role="navigation">
<ul>
    <li id="public-personal-li"><a id="public" href="{% url 'view' request.user.username %}">Visualizza</a></li>
    <li id="edit-personal-li"><a id="edit" href="{% url 'edit' %}">Modifica</a></li>
    <li id="change-avatar-personal-li" class="current selected"><a id="change-avatar" href="{% url 'editpic' %}">Modifica la foto del profilo</a></li>
    <li id="change-cover-image-personal-li"><a id="change-cover-image" href="{% url 'editcover' %}">Cambia immagine copertina</a></li> 
</ul>
</div>
<div class="profile">
<h4>Change Profile Photo</h4>
<p>Your profile photo will be used on your profile and throughout the site. If there is a <a href="https://gravatar.com">Gravatar</a> associated with your account email we will use that, or you can upload an image from your computer.</p>
<form method="post" enctype="multipart/form-data" id="formUpload">{% csrf_token %}
    <label for="id_file">File:</label>
    <input type="file" name="file" accept="image/*" required="" id="id_file">
    <input type="hidden" name="x" id="id_x">
    <input type="hidden" name="y" id="id_y">
    <input type="hidden" name="width" id="id_width">
    <input type="hidden" name="height" id="id_height">
</form>
<link href="static/css/cropper.min.css" rel="stylesheet">
<div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Crop the photo</h4>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
        </div>
      </div>
    </div>
  </div>
  <p>If you'd like to delete your current profile photo but not upload a new one, please use the delete Profile photo button.</p>
  <p><a class="button edit" href="{% url 'deleteprofilepic' %}" title="Delete Profile Photo">Delete My Profile Photo</a></p>
  <script src="static/js/jquery-3.1.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/cropper.min.js"></script>
  <script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_file").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formUpload").submit();
      });

    });
  </script><div class="bp-avatar-nav"></div>
<div class="bp-avatar"></div>
<div class="bp-avatar-status"></div>
</div>
</div>
</div>

</div>
{% endblock %}